@model Project.Models.UserModel


@{
    ViewBag.Title = "Register";
}
@using (Html.BeginForm()) {
@Html.ValidationSummary(true, "Register unsuccesfull");
    <div>
        <fieldset>
            <div>@Html.LabelFor(u=>u.Email)</div>
            <div>@Html.TextBoxFor(u=>u.Email) @Html.ValidationMessageFor(u=>u.Email)</div>

            <div>@Html.LabelFor(u => u.Username)</div>
            <div>@Html.TextBoxFor(u => u.Username) @Html.ValidationMessageFor(u => u.Username)</div>

            <div>@Html.LabelFor(u => u.Password)</div>
            <div>@Html.TextBoxFor(u => u.Password) @Html.ValidationMessageFor(u => u.Password)</div>
            <input type="submit" value="Create User" />

        </fieldset>

    </div>

}